%h1= @listing.title
%p= @listing.link
%p= @listing.description

= link_to "Edit", edit_listing_path(@listing)
= link_to "Destroy", listing_path(@listing), method: :delete, data: { confirm: "Are you sure?"}
= link_to "Home", root_path